*{
    margin: 0;
    padding: 0;
}
/* header */
.header{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    padding: 50px 150px 50px 150px;
}
.logo{
    font-size: 32px;
    font-weight: bold;

}

.header-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

/*content-1*/

.content-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color:#1f2937 ;
    padding: 10px 150px 10px 150px ;
}

.img-1{
    width: 300px;
    height: auto;
    border-radius: 8%;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.left-1{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-basis: 450px;
}

.button-1{
    width: 100px;
    height: 50px;
    background-color: #3882f6;
    border-radius: 5%;
    margin: 20px 0 20px 0 ;
    border: none;
    align-self: start;
}

.right-1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.text-1{
    font-size: 18px;
    color: #e5e7eb;
}

/*content-2*/

h2{
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
    padding: 0;
    margin: 20px;
}

.img{
    height: 100px;
    width: 100px;
}

.content-2{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
    padding: 0;
    margin: 20px 100px 20px 100px;
    gap: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    
}

.text-2{
    width: 100px;
    text-align: center;
    font-size: 18px;
}